*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(29, 29, 29);
    font: 20px Tahoma, Geneva, Verdana ;
    margin-left: 100px;
    margin-right: 100px;
    
}
.hastag{
    color: rgb(255, 200, 0);
}

h1{
    font: 700 40px Tahoma, Geneva, Verdana center;
}

.texto{
    color: white;
    padding-top: 10px;
}
.linea{
    border-top: solid white 1px;
}

td{
    border: 1px solid white;
}

img{
    float: left;
    margin-right: 5px;
}

#article .sobreMi.texto p {
    text-align: justify;
}
#article .sobreMi h1 {
    text-align: center;
    padding-bottom: 5px;
}

#article{
    border: solid white 2px;
    overflow: auto;
    padding-bottom: 5px;
}